html{
  font-family: Verdana;
}

header{
  font-size:45px;
  text-align: center;
}

nav, a{
  background-color:darkgray;
  justify-content: center;
  display: flex;
  border: blue solid 1px;
  font-size: large;
}

.question{
  text-align: left;
}

.sub_Q{
  text-align: left;
}