.construction{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    color: royalblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    display: block;
    margin: auto;

}

.SQL {
    display: inline-flex;
    flex-direction: column;
    white-space: pre-wrap;
    justify-content: left;
    width:auto;
    color:ghostwhite;
    border: 0.2rem solid dimgrey;
    background-color:dimgrey;
    border-radius: 0.2rem;
    font-size: medium;
}
