
body{
    font-family: Arial, sans-serif;
    background-color: black;
  color: white;
}

header{
  font-size:45px;
  text-align: center;
  background-color: darkred;
}

nav{
  background-color: navy;
  border-radius: 10px;
  padding: 10px;
}
label,input{
  display: none;
}
.menu{
  display: flex;
  border-radius: 10px;
  align-items: center;
}
/*Stylisation avant le survole*/
.menu a{
  display: flex;
  width:20%;

  border:0 solid black;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  margin:5px;
}
.menu a:hover{
  background-color: #888888;
}

@media all and (max-width: 720px) {
  nav{
    width: auto;
    height: 55px;/*Agit sur la taille du button*/
  }
  .menu {
    display: none;
  }
  .menu a{
    width: 100%;
  }
  label{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
  }
  #bascule:checked + .menu{
    display: flex;
    flex-direction: column;
    background-color: navy;
    height: auto;
  }

}